extends ../components/base/layout

block variables
  - const title = "ProjectName" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = false
  - const headerMods = ""
  - const hasFooter = false
  - const footerMods = ""
  - const currentUrl = "test1.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

block main
  main.main-test2
    +description()



block modals
