mixin about-table()
  .about-table
    .container
      .about-table__container
        .about-table__left
          .about-table__img-top
            +picture("content", "table-top", "png", 1478, 986, "Стол")
          .about-table__img-bottom
            +picture("content", "table-bottom", "png", 1478, 986, "Ножки стола")
            ul.about-table__buttons-list
              li.about-table__item
                button.about-table__button.about-table__button--top(type="button") вверх
              li.about-table__item
                button.about-table__button.about-table__button--bottom(type="button") вниз
        h1.about-table__title Эргономика — ключ к успеху современного человека
        p.about-table__text Cтильная столешница , выполненной из экологически безопасного материала (ДСП), и усиленной стальной рамы не составит труда разместить на поверхности инновационного стола большое количество крупногабаритной техники: стол выдерживает нагрузку до 80 кг.
        p.about-table__text Также столешница, обладающая меламиновым покрытием, хорошо переносит механические воздействия (царапины или удары), при контакте с водой не разрушается, устойчиво переносит бытовые химические вещества и не выгорает под воздействием ультрафиолета.
