.description {
  font-family: $ff-montserrat;
  color: $color-default-white;

  &__container {
    display: flex;
    position: relative;

    @include vp-1023 {
      flex-direction: column;
    }

    @include vp-767 {
      padding-bottom: 23px;
    }
  }

  &__left {
    width: 39%;
    margin-right: 55px;

    @media (max-width: 1919px) {
      width: 30%;
    }

    @media (max-width: 1366px) {
      width: 40%;
    }

    @include vp-1023 {
      width: 100%;
    }
  }

  &__right {
    position: absolute;
    top: 0;
    right: -37px;
    width: 47%;
    height: auto;

    img {
      width: 100%;
      height: 100%;

      @include vp-1023 {
        width: 70%;
        height: auto;
        margin: 0 auto;
      }

      @include vp-767 {
        margin: 0;
        width: 100%;
        height: 100%;
      }
    }

    @media (max-width: 1919px) {
      right: 20px;
      top: 150px;
      width: 35%;
    }

    @media (max-width: 1366px) {
      right: -50px;
    }

    @include vp-1023 {
      position: static;
      display: flex;
      width: 100%;
    }

    @include vp-767 {
      margin-top: 0;
      margin-left: auto;
      margin-right: auto;
      width: 410px;
      height: auto;
    }

    @media (max-width: 332px) {
      margin-left: -39px;
      margin-right: 0;
    }
  }

  &__title {
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 50px;
    margin-top: 72px;
    margin-bottom: 19px;

    @include vp-767 {
      margin-top: 20px;
      margin-bottom: 5px;
      font-size: 34px;
      line-height: 34px;
      padding-left: 5px;
    }
  }

  &__title-small {
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 50px;
    margin-top: 0;
    margin-bottom: 65px;

    @include vp-767 {
      font-size: 34px;
      line-height: 34px;
      padding-left: 5px;
      margin-bottom: 31px;
    }
  }

  &__text {
    width: 83%;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 37px;

    @include vp-1023 {
      width: 100%;
    }

    @include vp-767 {
      padding-left: 5px;
      font-size: 16px;
      line-height: 27px;
    }
  }

  &__text:last-of-type {
    @include vp-767 {
      padding-right: 5px;
    }
  }

  &__slogan {
    padding-top: 10px;
    text-transform: uppercase;

    @include vp-1023 {
      display: none;
    }
  }

  &__slogan-text {
    font-style: normal;
    font-weight: 900;
    font-size: 61px;
    line-height: 55px;
    margin-top: 26px;
    padding-left: 60px;

    @media (max-width: 1919px) {
      padding-left: 0;
    }
  }

  &__slogan-text--top {
    font-size: 45px;
    line-height: 40px;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 0;
    font-weight: 900;
  }

  &__marks {
    font-weight: 400;
  }

  &__name {
    margin-left: 6px;
  }

  &__center {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: -113px;

    @media (max-width: 1919px) {
      margin-left: 50px;
    }

    @media (max-width: 1580px) {
      margin-left: -50px;
    }

    @media (max-width: 1366px) {
      margin-left: -130px;
    }

    @include vp-1023 {
      margin-left: 0;
      align-items: center;
    }

    @include vp-767 {
      overflow: hidden;
      margin-top: -30px;
    }
  }

  &__girl-container {
    min-height: 791px;
    overflow: hidden;

    @include vp-767 {
      min-height: 754px;
    }
  }

  &__girl-img {
    transform: translateY(100%);
    transition: all $trans-2000;

    @include vp-767 {
      margin-top: -16px;
      margin-left: 10px;
    }

    img {
      @include vp-767 {
        max-width: initial;
      }
    }
  }

  &__hole-img {
    transition: all $trans-600;
    opacity: 0;
    margin-left: 113px;

    @include vp-1023 {
      margin-left: 0;
    }

    @include vp-767 {
      margin-top: -28px;
      padding-bottom: 15px;
    }
  }

  .show-hole {
    opacity: 1;
  }

  .transform-hole {
    transform: scale(1.5);

    @include vp-767 {
      transform: scale(1.2);
    }
  }

  .girl-top {
    transform: translateY(-4%);

    @include vp-767 {
      transform: translateY(-3.5%);
    }
  }

  .girl-levitation-down {
    transform: translateY(0);

    @include vp-767 {
      transform: translateY(2%);
    }
  }

  .girl-levitation-top {
    transform: translateY(-4%);

    @include vp-767 {
      transform: translateY(-2%);
    }
  }

  .girl-finish {
    transform: translateY(0);
  }

  &__slogan-mobile {
    display: none;

    @include vp-1023 {
      display: block;
      font-style: normal;
      font-weight: 900;
      font-size: 61px;
      line-height: 55px;
      margin-top: 26px;
      text-transform: uppercase;
    }

    .description__slogan-text {
      margin-top: 0;
      margin-bottom: 0;
    }

    .description__slogan-text--top {
      font-size: 38px;
      line-height: 35px;
      padding-left: 5px;
      padding-top: 5px;
      margin-bottom: 15px;
    }

    .description__name {
      font-size: 49px;
      line-height: 45px;
    }

    .description__marks {
      font-size: 49px;
      line-height: 45px;
    }

    .description__slogan-text--big-marks .description__marks {
      font-size: 61px;
      line-height: 55px;
    }

    .description__slogan-text--big-marks {
      margin-bottom: 5px;
    }

    .description__marks--small {
      font-size: 39px;
      line-height: 35px;
    }
  }
}
